.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    z-index: 10;
    display: flex;
}

.navbar-logo img {
    transition: transform 0.3s ease;
}

.navbar-logo img:hover {
    transform: rotate(20deg) scale(1.1);
}