.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    z-index: 10;
    display: flex;
}

.navbar-logo img {
    transition: transform 0.3s ease;
}

.navbar-logo img:hover {
    transform: rotate(45deg) scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 8px 4px rgba(34, 197, 94, 0.5); /* Symmetric shadow around icon */
    background: #bbf7d0; /* Tailwind green-100 */
    border-radius: 50rem;
}